@import '_variables';

.container {
  max-width: $max-width;
  min-height: 80vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  display: flex;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;

  h1 {
    font-size: 75px;
    font-weight: bold;
    color: $primary-color-3;
    margin-bottom: 20px;

    span {
      color: $primary-color-4;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 8px;
    color: #666;
    margin-bottom: 40px;
  }

  button {
    width: fit-content;
    margin-bottom: 50px;
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: $primary-color-3;
    border: none;
    box-shadow: 1px 3px 5px rgb(0 0 0 / 30%);
    ;
    cursor: pointer;
    transition: .5s;

    &:hover {
      background-color: $primary-color-4;
    }
  }
}

.icons {
  font-size: 28px;
  color: $primary-color-3;
  margin-left: 10px;

  a {
    margin: 20px;
    transition: .5s ease;
    cursor: pointer;

    &:hover {
      color: $primary-color-4;
    }
  }
}

.right {
  position: relative;
  height: 30vw;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .left {
    h1 {
      font-size: 50px;
    }

    h3 {
      letter-spacing: 3px;
    }
  }
}

@media screen and (max-width: 480px) {
  .right {
    display: none;
  }

  .left {
    align-items: center;

    h1 {
      font-size: 40px;
    }

    h3 {
      letter-spacing: 2px;
    }
  }

  .icons {
    margin: 0;
    align-items: center;

    a {
      margin: 20px;
    }
  }
}